body {
  background: black;
  color: white;
  font-family: 'Montserrat', serif !important;
  font-weight: 500;
  text-align: center;
}

.form-text {
  color: red;
}

#top-contact-banner {
  background-color: #222222;
  font-size: 2em;
  font-weight: 600;
}

#business-banner {
  justify-content: center;
  font-size: 4em;
  font-weight: 700;
  background-image: url('../img/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#business-logo-navbar {
  max-width: 3.5em;
  max-height: 3.5em;
  padding: 16px;
}

#phone-image-navbar {
  max-width: 2rem;
  max-height: 2rem;
  margin-right: 8px;
}

#javiers-face-text {
  align-self: center;
  font-size: 3em;
  padding: 16px;
}

#button-col {
  justify-content: center;
}

.btn {
  font-size: 2em;
  width: 75%;
}

#contact-javier {
  align-self: center;
  justify-content: center;
  font-size: 3em;
}

#testimonial-name {
  align-self: center;
  justify-content: center;
  font-weight: 600;
  font-size: 3em;
}

#testimonial-text {
  align-self: center;
  justify-content: center;
  color: #cccccc;
  font-size: 2em;
}

.brand-logo {
  width: 25%;
  padding: 8px;
}

.sym-logo {
  width: 17%;
}

.still-logo {
  width: 33%;
}

.nation-logo {
  width: 19%;
}

.branch-logo {
  width: 21%;
}

.kemper-logo {
  width: 23%;
}

.natgen-logo {
  width: 31%;
}

.encompass-logo {
  width: 26%;
}

.allstate-logo {
  width: 17%;
}

#info-text {
  text-align: center;
  font-size: 1.5em;
  padding: 48px;
}

.nav-link {
  background-color: #111111 !important;
  color: rgb(150, 150, 150) !important;
  border-color: #035370 !important;
  font-size: 0.3em;
}

#get-your-quote {
  background-color: #035370 !important;
  color: white !important;
}

.nav-link.active {
  background-color: #222222 !important;
  color: white !important;
  font-weight: 800 !important;
  border-color: transparent !important;
}

#forms {
  background-color: #222222 !important;
  align-items: center;
}

.sectionmargin {
  margin-bottom: 64px;
}

#company-logo {
  align-self: center;
  width: stretch;
  height: fit-content;
}

p span {
  display: block;
}

#quote-text {
  text-align: center;
  font-size: 1em;
  padding-top: 16px;
  padding-bottom: 16px;
  white-space: nowrap;
}

#form-filler {
  background-color: #111111;
}

#form-filler-inside {
  background-color: rgb(51, 124, 160);
}

.navigation-tabs {
  display: inline-block
}

#brand-logos-row {
  margin-bottom: 64px;
}

#footer-filler,
#footer {
  background-color: #333333;
  font-size: medium;
  color: white;
}

.providers {
  font-size: 3em;
  font-weight: 600;
  padding: 16px;
}

#review {
  font-size: 3em;
}

#review-hr-left,
#review-hr-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#review-stars {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#star {}

#testimonial-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#testimonial-container-right {
  display: flex;
  padding: 4em;
  flex-direction: column;
  justify-content: center;

}

.btn-primary {
  background-color: rgb(93, 152, 233);
}

#testimonials {
  padding-left: 1em;
  padding-right: 1em;
}

.testimonial-copy {
  padding-top: 1em;
  padding-bottom: 1em;
}

#testimonial-img {
  border-radius: 50%;
  border: 5px solid rgb(240, 240, 240);
}

#contact-img-container {
  display: flex;
  padding: 2em;
  flex-direction: column;
  justify-content: center;
}

#contact-img {
  border-radius: 50%;
  border: 5px solid rgb(240, 240, 240);
  max-width: 100%;
}

#top-call-us {
  font-size: 0.5em;
  white-space: nowrap;
  padding: 16px;
}

@media screen and (min-width: 576px) {
  .auto-tab-img {
    display: none;
  }

  .home-tab-img {
    display: none;
  }

  .life-tab-img {
    display: none;
  }

  .commercial-tab-img {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .auto-tab-text {
    display: none;
  }

  .home-tab-text {
    display: none;
  }

  .life-tab-text {
    display: none;
  }

  .commercial-tab-text {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #top-call-us {
    display: none;
  }
}

#top-company-name {
  font-size: 0.6em;
  white-space: nowrap;
}

.provider-row {
  background-color: #333333;
  align-items: center;
  justify-content: center;
}

.provider-row-brands {
  background-color: #444444;
  align-items: center;
  justify-content: center;
}

.fullrow {
  width: 100%;
  text-align: center;
}

.contact-us-copy {
  font-size: 0.8em;
}

.bannernumber {
  font-size: 2.0em;
  color: #06AFEF;
}

.sectionpadding {
  padding-top: 48px;
  padding-bottom: 48px;
  margin-left: 0px;
  padding-right: 0px;
}

.mainbg {
  background-color: #06AFEF;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#botimg {
  margin-top: 64px;
}